.form_bg{
    background: #e0e0e0;
    opacity: 0.75;
    color:#666;
    padding:20px;
    border-radius:10px;
    position: absolute;
    border:1px solid #fff;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 500px;
    height: 300px;
    box-shadow: 0 0 10px;
}